body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Navigation CSS ----------------------------------------------------------------------------------------------------------------------*/
nav {
    display: flex;
    justify-content:flex-end;
    align-items: center; 
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px;
    /*color: #0000;*/
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    font-size:  16px;
    font-family: Poppins, sans-serif;

}

.bar {
    width: 25px;
    height: 3px;
    background-color: bisque;
    margin: 20px 0;
}
button {
    background-color:#57328A;
    border-radius: 5px;
    color:#D8B7FF;
}

/* Grid page css ----------------------------------------------------------------------------------------------------------------------*/
body{
    background-color: #6A4C93;
    font-family: Poppins, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 15px; /* Adjust the gap size as needed */
    background-color: #57328A;
    border-radius: 5%;
    width: 330px;
    height: 330px;
}

.grid-item {
    width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
    border-radius:15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #6A4C93;
    margin-left: 10px;
    margin-top: 10px;
}
.grid-item:hover {
    background-color: #D8B7FF;
    cursor: pointer;
}

h2{
    color:#D8B7FF;
    font-size:1.15em;
}

.score img:first-child{
   
   
  margin-top :10px;
    margin-left: 20px;

}
.score img:first-child{
    margin-top :10px;
  
}
#player2 {
    margin-right:5px;
    margin-left: 20px;

}
.player-setup-container {
    display: flex;
    flex-direction: column;
}

.player-setup {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

.color-options {
    display: flex;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

/* Styles for the question page--------------------------------------------------------------------------------------------------------*/
.question-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.question {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}